/* Custom Font Imports */
@font-face {
    font-family: "Fontin-Bold";
    src: local("Fontin"), url(.fonts/Fontin/Fontin-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Fontin-Italic";
    src: local("Fontin"), url(./fonts/Fontin/Fontin-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "Fontin-Regular";
    src: local("Fontin"), url(./fonts/Fontin/Fontin-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Fontin-SmallCaps";
    src: local("Fontin"), url(./fonts/Fontin//Fontin-SmallCaps.ttf) format("truetype");
}

:root {
    --poe-black: rgb(32, 33, 34);
    --poe-blue: rgb(174, 186, 206);
    --poe-brown-light: rgb(253, 216, 141);
    --poe-green: rgb(177, 229, 200);
    --poe-orange: rgb(218, 169, 120);
    --poe-orange-dark: #93683f;
    --poe-tan: rgb(245, 222, 166);
    --poe-white: rgb(173, 158, 132);
}

