.nav-bar {
    display: flex;
    flex-direction: row;

    margin: auto;
    max-width: fit-content;
}

.nav-bar-item {
   background-image: linear-gradient(to top, var(--poe-orange), var(--poe-orange-dark));
   border: 2px outset var(--poe-orange-dark);
   padding: 5px;

   color: var(--poe-tan);
   text-decoration: none;
   cursor: pointer;
}

.nav-bar-item:hover {
    background-color: var(--poe-black);
    color: var(--poe-tan);
    box-shadow: 0 2px 4px 0 var(--poe-orange), 0 3px 10px 0 var(--poe-orange);
    transition: all 0.75s;
}

.nav-bar-item .nav-bar-item-text {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.nav-bar-item .nav-bar-item-text :after {
    opacity: 0;
    transition: 0.5s;
}

.nav-bar-item:hover .nav-bar-item-text {
    padding: 5px;
}

.nav-bar-item:hover .nav-bar-item-text:after {
    opacity: 1;
    right: 0;
}